<div class="w-full h-svh grid place-content-center">
  <h1 class="text-3xl font-bold text-center p-2">No se ah encontrado esta pagina</h1>
  <img src="https://midu.dev/images/this-is-fine-404.gif" alt="404 this is fine">
</div>