---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Title from '../components/Title.astro'
import ListOfBooks from '../components/ListOfBooks.astro';

---

<Layout title="List of books.">
	<main class="max-w-4xl px-4 pt-2 m-auto">
		<Title />
		<ListOfBooks />
	</main>
</Layout>

<style>
	
</style>
