<section
  class="bg-black text-white text-3xl border-primary-green border-b-[120px]"
  data-header-theme="dark"
>
  <!-- <video 
    class="w-full aspect-[16/9] object-cover"
    src="/public/videos/hero.mp4"
    autoplay
    loop
    muted
    playsinline
  >
  </video> -->

  <div class="w-full aspect-[20/9] overflow-hidden">
    <iframe
      id="hero-video"
      class="w-full h-full pointer-events-none scale-125"
      src="https://www.youtube.com/embed/u9PKH9fVNqI?autoplay=1&mute=1&controls=0&loop=1&playlist=u9PKH9fVNqI&volume=0.1" 
      allow="autoplay; encrypted-media"
      allowfullscreen
    >
    </iframe>
  </div>
</section>
