<section class="px-14 py-32">
  <header class="mb-16">
    <h2 class="font-bold lowercase text-9xl leading-[.8] tracking-tighter">
      Te ubicamos donde quieras estar<span
        class="inline-block bg-primary-green rounded-full w-8 h-8"></span>
    </h2>
    <h3 class="font-bold text-4xl mt-1 ml-28">Seas una marca o un talento.</h3>
  </header>

  <div class="cards grid grid-cols-3 gap-20">
    <article class="relative rounded-lg px-10 pb-5 pt-10">
      <h2 class="font-bold uppercase text-red-500 transform -rotate-90 text-2xl z-10 absolute -left-20 bottom-0 top-0 flex items-center justify-start">Representacion</h2>
      <div class="bg-primary-green absolute inset-0 -z-10"></div>
      <img
        class="w-full h-auto "
        src="https://imgs.search.brave.com/IL3jnsR4vtmO_QTtt8XfwR8_1pPu-jSUmdsWGs0b1FY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9hLnBp/bmF0YWZhcm0uY29t/LzEzNTF4MTIzMi9j/OGZhNzFlZmQxL3Ro/ZS1vZmZpY2UtaGFu/ZHNoYWtlLmpwZw"
        alt="handshake"
      />

      <div class="content relative">
        <h3 class="font-bold uppercase text-3xl w-[320px] tracking-tight leading-none mt-5 ">
          Somos pocos porque nos Implicamos <br> mucho
        <p class="absolute top-0 opacity-0">
          Lorem 2, ipsum dolor sit amet consectetur adipisicing elit. Sint vitae
          beatae quod quo enim sapiente odio, sed non praesentium nisi atque
          iure impedit soluta at molestiae? Vel pariatur nihil recusandae.
        </p>
      </div>
    </article>
  </div>
</section>
