@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
  --font-inter: "Inter Variable", sans-serif;
  --color-background: #16161a;
  --color-headline: #fffffe;
  --color-paragraph: #94a1b2;
  --color-button: #7f5af0;
  --color-button-text: #fffffe;
  --color-illustration-stroke: #010101;
  --color-main: #fffffe;
  --color-highlight: #7f5af0;
  --color-secondary: #72757e;
  --color-tertiary: #2cb67d;
}

.container {
  @apply w-full max-w-[1800px] px-3 md:px-8 mx-auto;
}