---
import "@fontsource-variable/inter";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <!-- <div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"></div> -->
    <slot />
    <script>
      import AOS from "aos";
      import "aos/dist/aos.css"; // You can also use <link> for styles
      // ..
      AOS.init();
    </script>
  </body>
</html>

<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    border-width: 0;
  }

  :root {
    --font-inter: "Inter Variable", sans-serif;
    --background-color: #16161a;
    --headline-color: #fffffe;
    --paragraph-color: #94a1b2;
    --button-color: #7f5af0;
    --button-text-color: #fffffe;
    --illustration-stroke-color: #010101;
    --main-color: #fffffe;
    --highlight-color: #7f5af0;
    --secondary-color: #72757e;
    --tertiary-color: #2cb67d;
  }

  html,
  body {
    font-family: var(--font-inter);    
  }

  body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    flex-grow: 1;
  }

  

</style>
