---
// aqui podemos escribir JS o TS se separa mediante los 3 guiones ---
// aqui seria las props o fetching de datos etc

import Launches from "../components/Launches.astro";
import Layout from "../layouts/Layout.astro";
// import Card from '../components/Card.astro';
---

<Layout title="Space X Launches.">
	<!-- <h1 class="text-6xl text-white font-bold">Welcome to Space X 🚀 </h1> -->
	<!-- <h1 class="text-white">La pagina principal</h1>	 -->
	<Launches/>
</Layout>

<style></style>
