---
import Layout from "../../layouts/Layout.astro";
import Button from "../Button.astro";
import Counters from "../Counters.astro";
import Gallery from "../Gallery.astro";
import Hero from "../Hero.astro";
---

<Layout title="Archivo" description="Descripcion de archivo">
  <Hero image="/images/archivo/archivo-background.webp">
    <h1 class="font-tomaso text-5xl text-white uppercase tracking-widest text-center mb-4">      
      Ediciones anteriores
    </h1>
    <Button>
      CRITERIOS DE INFORMACION
    </Button>
  </Hero>

  <div class="">
    <Gallery />
  </div>
  
  <Counters />

</Layout>

<style>
  
</style>