---
import Layout from "../../layouts/Layout.astro";
import Hero from "../Hero.astro";
---

<Layout title="Archivo" description="Descripcion de archivo">
  <Hero image="/images/info/info-background.webp">  
    <h1 class="font-tomaso text-5xl text-white uppercase tracking-widest text-center">
      Los premios ESLAND
    </h1>
  </Hero>
</Layout>