---
import Button from "../Button.astro";


---

<section class="vota min-h-screen mt-32">
  <h1>Las Votaciones ya estan aqui</h1>
  <Button href="/vota2">
    ¡Empezar con las votaciones!
  </Button>
</section> 