---
interface Props {
  backgroundUrl: string;
  imageUrl: string;
  className?: string;
}

const { imageUrl, backgroundUrl, className = "" } = Astro.props;
---

<div
  data-aos="fade-up"
  class={`bento-item relative flex items-end justify-end
    bg-linear-to-b from-30% to-gray-500/80 ${className} overflow-hidden
    group hover:to-button/50 transition-colors duration-300 ease-in-out`}
>
  <img
    class="absolute inset-0 w-full h-auto object-cover -z-10 group-hover:scale-110
    transition-transform duration-300 ease-in-out"
    src={backgroundUrl}
    alt="Compartir"
  />
  <img
    class="absolute bottom-0 right-0 w-80 -z-10"
    src={imageUrl}
    alt="animacion"
  />
  <div
    class="content px-4 pb-4 text-slate-200 group-hover:text-slate-900 transition-colors duration-300 ease-in-out flex flex-col gap-2"
  >
    <slot />
  </div>
</div>
