---
---

<div class="pre-footer mt-20 px-8 w-full max-w-5xl flex flex-col gap-10 mx-auto">
  <h2 class="text-2xl font-semibold text-white text-center uppercase">Guía de la 3ª Edición de los premios ESLAND</h2>  
  <lite-youtube 
    class="w-full md:w-[90%] mx-auto h-auto shadow-2xl shadow-white/20 aspect-video"
    videotitle="Guía de la 3ª Edición de los premios ESLAND"
    videoid="nYPVr2IYTtk"
  >
  </lite-youtube>

</div>

<script>
  import "@justinribeiro/lite-youtube"
</script>